form {
    padding-top: 1rem;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

.form-control.ng-dirty.ng-invalid {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(229, 19, 19, 0.25);
    border-color: red;

}

.mat-error {
    margin-top: 5px;
    font-size: small;
    display: inline-block;
}

.general-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 10px;
}

.address-info {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 10px 10px;

    div:first-of-type {
        grid-column: 1 / 4;
    }
}

.aliases-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px 10px;
}